@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --container-size: 940px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: var(--container-size, 940px);
  margin: 0 auto;
}
/* 헤더 */
.header {
  position: relative;
  height: 120px;
  padding: 0 50px;
  border-radius: 0 0 15px 15px;
  background-color: blue;
  /* border: 1px solid green; -> 알아보기 힘든 마크다운.. */
}

/* 로고 */
.logo{
  background-color: orange;
  position: absolute;
  top: 45px;
  left: 60px;
}


/* 비주얼 */
.visual {
  background-color: pink;
  height: 10vh;
}
/* 메인 콘텐츠 */

.main {
  display: flow-root;
  background-color: skyblue;
  min-height: 450px;
  padding: 28px 16px 36px;
}

.group{
  border: 1px solid red;
  float: left;
}

.group1{
  width: 250px;
  background-color: orange;
}

.group:nth-child(n+2){
  margin-left: 44px;
}
.group2{
  width: 380px;
  background-color: silver;
}

.group3{
  width: 190px;
  background-color: hotpink;
}
/* .group:nth-child(1){
  width: 250px;
  float: left;
  background-color: orange;
}

.group:nth-child(2){
  width: 380px;
  float: left;
  background-color: silver;
  margin-right: 0;
}

.group:nth-child(3){
  width: 190px;
  float: right;
  background-color: hotpink;
} */

/* 슬로건 */
.slogan {
  background-color: lime;
  height: 10vh;
  clear: both;
}
/* 푸터 */
.footer {
  background-color: orange;
}
.footer-inner {
  background: green;
  height: 10vh;
}

/* flex를 지원하는 웹브라우저를 위한 스타일 */

@supports(display: flex) {
  .main{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
  }

  .group:nth-child(n+2){
    margin-left: 0;
  }

  .group3{
    order: -1;
  }
}